img {
    width: 20%;
    height: auto;
}
main, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px black solid;
}
nav {
    justify-content: space-around;
    width: 30%;
    display: flex;
    
}
#naam {
    width: 20%;
}
a {
    text-decoration: none;
    border: 1px black solid;
    padding: 1%;
}